.heading {
  background-color: #dc3545;
  color: #ffc107;
  text-align: center;
}

.background {
  background-color: #006400;
}

.dice {
  width: 120px;
  display: block;
  margin: auto;
  padding: 10px;
}

.btn-hold {
  display: block;
  margin: auto;
}

.holdDice {
  text-align: center;
}

.rollButtonStyle {
text-align: right;
}

.nextTurnStyle {
text-align: left;
}

.score {
  text-align: center;
}

.newGame {
text-align: center;
}